.video-tag{
    width: calc(100% - 10%);
    display: flex;
    margin: 0 auto;
    border-radius: 10px;
}

.buttons{
    width: calc(100% - 50%);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 200px;/*remove it */
}
.button{
    padding: 10px 20px;
    border-radius: 10px;
    border:2px solid aqua;
    background-color: black;
    color: whitesmoke;
    font-family: "Inter", sans-serif;
}